.gallery {
    background-color: $white;
    padding-left: $lg;
    padding-right: $lg;
    padding-top: $sm;

    h4 {
        color: $primary-color;
        font-weight: 500;
        margin: 0;
        margin-bottom: $sm;
        text-align-last: center;
    }

    section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: $lg;
        row-gap: $lg;
        padding-bottom: $lg;
        
        div {
            border-radius: 5px;
            box-shadow: $shadow;
            cursor: pointer;
            overflow: hidden;
            height: 0;
            padding: 50% 0;
            opacity: 0.8;
            position: relative;
            
            img {    
                min-width: 100%;
                min-height: 100%;
                max-width: 150%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

@media screen and (max-width: $md-breakpoint) {
    .gallery {
        section {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: $sm-breakpoint) {
    .gallery {
        section {
            grid-template-columns: 1fr;
        }
    }
}