@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import './base/settings';
@import './base/base';
@import './components/layout/header';
@import './components/home/banner';
@import './components/home/news';
@import './components/home/about';
@import './components/home/mission-and-vision';
@import './components/home/team';
@import './components/home/map';
@import './components/about/about';
@import './components/gallery/gallery';
@import './components/contact/contact';
@import './components/news/news';
@import './components/common/modal';
@import './components/common/fab';
@import './components/layout/footer';
@import './components/page404';